.nav-content{
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.589);
    font-family:
    
}
nav ul{
    display: flex;
    gap: 40px;
}